POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=trafficdb
POSTGRES_USER=traffic
POSTGRES_PASSWORD=traffic123

TOMTOM_API_KEY=replace-me
TOMTOM_ALLOW_MOCK=true
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
MINIO_SECURE=false
