# API
fastapi==0.111.0
uvicorn[standard]==0.28.1

# Base de données
sqlalchemy==2.0.29
psycopg2-binary==2.9.9
asyncpg==0.29.0

# Stockage objet
minio==7.2.7

# Données
pandas==2.2.2
pyarrow==16.0.0
requests==2.31.0

# Orchestration
prefect==2.19.3

# Utilitaires
python-dotenv==1.0.1
pydantic==2.7.1
pydantic-settings==2.2.1